/*-  BASE STYLES
----------------------------------------------------------------------*/

/*- self-clearing floats ----------*/

/*section:after,*/
.mod:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*- fluid images and objects ----------*/
/*
img,
object,
embed {max-width: 100%;}
*/

/*- optional vanity styles ----------*/

::selection {background: #cecece; color: #fff; }
::-moz-selection {background: #cecece; color: #fff; }
img::selection {background: transparent;}
img::-moz-selection {background: transparent;}

@media only screen and (max-device-width: 480px) {

	html {-webkit-text-size-adjust: none}
	a {-webkit-tap-highlight-color: rgba(200,0,0,0.4);}

}

/*- Paul Irish's Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ ----------*/
/*
@font-face {
  font-family: 'Graublau Web';
  src: url('GraublauWeb.eot');
  src: local('☺'),
         url('GraublauWeb.woff') format('woff'), url('GraublauWeb.ttf') format('truetype');
}
*/

/*- LET'S GET STARTED!
----------------------------------------------------------------------*/

body {
	background-color: #fff;
	color: #000;
	/*font: normal 16px/22px Helvetica, Arial, Verdana, sans-serif;*/
	margin: 0;
	padding: 0;
}

abbr {
	cursor: help;
}

a img { border: none; }
a  { outline: 0; } 

/* Defaults */

h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1em;margin-bottom:0.5em;}
h2 {font-size:2em;line-height:1em;margin-bottom:0.5em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}

p {margin:0 0 1.5em;}
p img.left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
.left { float: left; }
.right { float: right; }
a:focus, a:hover {color:#333;}
a {color:#009;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 0 1.5em 0;}
ul {list-style-type:circle;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:2em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
td { vertical-align: top; padding-left: 0px; }
tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}

/* Etc. */

/*
.small {font-size:.9em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
*/
.hide, .print-only {display:none;}
.quiet {color:#666; font-weight: normal; }
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}
.strong {font-weight: bold;}
.block {display: block;}
.uc { text-transform: uppercase; }
.center { text-align: center; }

/* Forms */

label {font-weight:normal; display: block; font-family: Georgia, Times, 'Times new roman', serif; font-size: 13px; color: #7d7d7d; margin: 5px 0 -14px 0; }
fieldset {padding:0;margin:0;border:none;}
legend {font-weight:bold;font-size:1.2em;}
input[type=text], select { margin-bottom: 10px; font-family: 'Lucida Grande', Tahoma, Helvetica, Arial, sans-serif;  font-size: 13px; }
input.text, input.title, textarea, select {margin:0 0 10px 0;border:1px solid #d3d3d3;}
input.text:focus, input.title:focus, textarea:focus, select:focus {
	border:1px solid #c9c9c9;
	outline: none !important;
/*
box-shadow: 0 0 5px rgba(18, 142, 238, 1);
-webkit-box-shadow: 0 0 5px rgba(18, 142, 238, 1);
-moz-box-shadow: 0 0 5px rgba(18, 142, 238, 1);
*/
transition: all 0.20s ease-in-out;
-webkit-transition: all 0.20s ease-in-out;
-moz-transition: all 0.20s ease-in-out;
}
input.text, input.title { padding: 7px;}
input.title {font-size:1.5em;}
textarea { padding: 7px; margin-bottom: 10px; font-family: 'Lucida Grande', Tahoma, Helvetica, Arial, sans-serif; font-size: 12px !important; }

.error, .notice, .success {padding: 9px 14px 10px 14px; margin-bottom:1em; border:none;}
.error {background:#FBC2C4;border: none;}
.notice {background:#FFF6BF;color:#514721 !important;border-color:#FFD324;}
.success {background:#C6D880 !important;color:#264409 !important;border:none;}
.error a {color:#8a1f11;}
/* .notice a, p.notice a { color:#514721 !important; border-bottom: none !important; padding: 0 !important; } */
.success a {color:#264409;}