<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

	<meta charset="utf-8" />
	<title>Deck</title>
	
	<meta name="description" content="Deck is a co-working space for design and software freelancers, located at Pursimiehenkatu 26 H in Punavuori, Helsinki." />
	<meta name="keywords" content="deck, co-working, space, workspace, helsinki, punavuori, mestaritalo" />
	<meta name="robots" content="index,follow,archive" />
	
	<meta property="og:title" content="Deck">
  <meta property="og:image" content="http://deck.fi/images/deck_logo.png">
  <meta property="og:site_name" content="Deck">
  <meta property="og:description" content="Deck is a co-working space for design and software freelancers, located at Pursimiehenkatu 26 H in Punavuori, Helsinki.">
  <!-- <meta property="og:url" content="http://deck.fi/"> -->
  <meta property="og:type" content="website">
	
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/bf47c891-a826-49ff-81ea-eeb9d9b23a1e.css"/>
	<!--[if IE]><![endif]-->
	<!--[if IE 7]>
	<link rel="stylesheet" href="assets/css/_patches/win-ie7.css" />
	<![endif]-->
	<!--[if lt IE 7]>
	<link rel="stylesheet" href="assets/css/_patches/win-ie-old.css" />
	<![endif]-->

  <%= stylesheet_link_tag "main_v2" %>
	
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	  <script>!window.jQuery && document.write('<script src="/javascripts/jquery-1.7.min.js"><\/script>')</script>
	  
    <%= javascript_include_tag  "modernizr.custom.24162" %>
    <%= javascript_include_tag  "respond.min" %>
    <%= javascript_include_tag  "functions_v2" %>

</head>

<body>

<!--
<ul class="language title2 append-bottom">
  <li class="en"><a href="/en/" title="In English"><span class="ul">En</span></a></li>	
  <li class="fi"><a href="/fi/" title="Suomeksi"><span class="ul">Fi</span></a></li>
</ul>
-->

<div id="header">
<header class="row container">
	<h1 class="svg">
	  <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 386.398 114.017" style="enable-background:new 0 0 386.398 114.017;" xml:space="preserve">
    <path d="M64.369,56.892C64.242,25.5,38.67-0.001,7.25-0.001H0v114.018h7.25c31.42,0,56.992-25.501,57.119-56.892h0.006
    	c0-0.039-0.004-0.078-0.004-0.117c0-0.039,0.004-0.077,0.004-0.116H64.369z M14.5,98.9V15.116
    	c20.025,3.445,35.315,20.91,35.372,41.892C49.815,77.99,34.525,95.455,14.5,98.9"/>
    <polygon points="386.398,9.502 376.128,-0.734 337.666,37.846 337.666,0 323.166,0 323.166,114.017 337.666,114.017 337.666,76.169 
    	376.128,114.751 386.398,104.513 339.038,57.008 "/>
    <polygon points="105.379,114.017 163.645,114.017 163.645,99.517 119.879,99.517 119.879,64.142 158.507,64.142 158.507,49.874 
    	119.879,49.874 119.879,14.5 163.645,14.5 163.645,0 105.379,0 "/>
    <path d="M253.078,14.5c10.079,0,19.86,3.579,27.542,10.077l9.365-11.07C279.688,4.797,266.582,0,253.078,0
    	c-31.415,0-56.986,25.471-57.164,56.845h-0.008c0,0.055,0.004,0.109,0.004,0.163c0,0.055-0.004,0.109-0.004,0.163h0.008
    	c0.178,31.374,25.749,56.846,57.164,56.846c13.504,0,26.611-4.797,36.907-13.508l-9.365-11.07
    	c-7.682,6.499-17.463,10.078-27.542,10.078c-23.475,0-42.579-19.055-42.668-42.509C210.499,33.554,229.603,14.5,253.078,14.5"/>
    </svg>
	</h1>
	<!--
	<object data="/images/deck2.svg" type="image/svg+xml">
    <img src="/path-to/your-fallback-image.png" />
  </object>
	-->
	<div class="divider"></div>	
	<img src="/images/pursari2@2x.jpg" alt="Pursimiehenkatu 26" />
	<div class="divider"></div>
</header>
</div>

<section id="workspace">
<div class="row container">
  <header class="hide">
    <h1>Workspace</h1>
  </header>
  <div class="append-bottom">
    <p class="title center">Deck is a co-working space in Helsinki. Our tenants form a synergistic working community for design and software freelancers.</p>
  </div>
  
  <div class="sixcol first">
    <h2 class="title3"><span class="ul">Location</span></h2>
    <p>We are located at Pursimiehenkatu 26 H in Punavuori, Helsinki.</p> 
    <p class="map-link">
      <a href="#map" class="anchor"><span class="icon-map"></span> <span class="ul">Look it up on a map</span></a>
    </p>
  </div>
  <div class="sixcol last">
    <h2 class="title3"><span class="ul">Convenience</span></h2>
    <p>There are plenty of lunch options nearby, not to mention the Alepa store right in the opposite building.</p>
    <p>The final stop of tram line 1A to Eira is right outside our doorstep. Bus 14 also has a stop around the corner.</p>
    <p>There is a 5 minute walk to tram line 3 and a 15 minute walk to Kamppi metro station.</p>
  </div>
  <div class="sixcol">
    <h2 class="title3"><span class="ul">Facilities</span></h2>
    <ul>
      <li class="icon-cross">12 personal desk spaces</li>
      <li class="icon-cross">Sofa corner</li>
      <li class="icon-cross">Kitchen</li>
      <li class="icon-cross">Meeting/workshop area</li>
      <li class="icon-cross">Plenty of windows yet no direct sunlight</li>
      <li class="icon-cross">Easy access to street</li>
      <li class="icon-cross">135 m<sup>2</sup> total area</li>
    </ul>
  </div>
  <div class="sixcol last">
    <h2 class="title3"><span class="ul">Services</span></h2>
    <ul>
      <li class="icon-cross">200 MB internet by Welho</li>
      <li class="icon-cross">Burglar alarm + security patrol</li>
      <li class="icon-cross">Printer</li>
      <li class="icon-cross">Weekly cleaning</li>
    </ul>
  </div>
  <div class="twelvecol last prepend-top">    
    <h2 class="title3 center"><span class="ul">Available plans</span></h2>
    <table class="desk-plans">
      <tr>
        <td class="plan"><strong>Laptop</strong><br />80€ /mo <span class="sup">+ VAT 24%</span></td>
        <td class="text">Roam freely with your laptop: sit at the table reserved to those with the laptop plan, workshop area or sofa.</td>
      </tr>
      <tr>
        <td class="plan"><strong>Fixed</strong><br />180€ /mo <span class="sup">+ VAT 24%</span></td>
        <td class="text">One of our 12 personal working tables - dedicated for your use only. Comes with storage space.</td>
      </tr>
      <tr>
        <td class="plan"><strong>Member</strong><br />Ask</td>
        <td class="text">Just like the Fixed plan, but rent fluctuates based on how many tenants we have.</td>
      </tr>
      <tr>
        <td class="plan"><strong>Stipend</strong><br />0€ /mo</td>
        <td class="text">If you got a super cool non-profit project, you could get a free work space at Deck. Ask for more info.</td>
      </tr>
    </table>
  </div>
  
</div>
</section>

<div class="divider"></div>

<section id="tenants">
<div class="row container">
  <header class="append-bottom">
    <h1 class="title center">Tenants</h1>
  </header>
  
  <article class="sixcol">
    <h3>Pirkka Esko</h3>
    <p>Pirkka Esko Design &amp; Software</p>
    <ul class="social">
      <li><a href="http://www.linkedin.com/pub/pirkka-esko/2/a21/478" class="linkedin"><span class="icon-linkedin"></span><span class="label">Linkedin</span></a></li>
      <li><a href="https://twitter.com/PirkkaEsko" class="twitter"><span class="icon-twitter"></span><span class="label">Twitter</span></a></li>
      <li><a href="http://pirkkaesko.com/" class="web"><span class="icon-link"></span><span class="label">Website</span></a></li>    
    </ul>
  </article>

  <article class="sixcol last">
    <h3>Jonatan Hedberg</h3>
    <p>Formatura</p>
    <ul class="social">
      <li><a href="http://fi.linkedin.com/in/jonatanhedberg/" class="linkedin"><span class="icon-linkedin"></span><span class="label">Linkedin</span></a></li>
      <li><a href="http://www.formatura.org/" class="web"><span class="icon-link"></span><span class="label">Website</span></a></li>          
    </ul>
  </article>


  <article class="sixcol">
    <h3>Tuukka Häkkinen</h3>
    <p>Chanko Media</p>
    <ul class="social">
      <li><a href="http://www.linkedin.com/in/tuuukka" class="linkedin"><span class="icon-linkedin"></span><span class="label">Linkedin</span></a></li>
      <li><a href="http://twitter.com/tuuukka" class="twitter"><span class="icon-twitter"></span><span class="label">Twitter</span></a></li>
      <li><a href="http://tuuukka.com/" class="web"><span class="icon-link"></span><span class="label">Website</span></a></li> 
    </ul>
  </article>
    
  <article class="sixcol last">
    <h3>Olli Jokinen</h3>
    <p>Ohjelmointityö Jokinen</p>
    <ul class="social">
      <li><a href="http://www.linkedin.com/in/ojokinen" class="linkedin"><span class="icon-linkedin"></span><span class="label">Linkedin</span></a></li>
      <li><a href="https://twitter.com/PirkkaEsko" class="twitter"><span class="icon-twitter"></span><span class="label">Twitter</span></a></li>
      <li><a href="http://pirkkaesko.com/" class="web"><span class="icon-link"></span><span class="label">Website</span></a></li>    
    </ul>
  </article>
  
  <article class="sixcol">
    <h3>Ilkka Järstä</h3>
    <p>Kelvin Creative Oy</p>
    <ul class="social">
      <li><a href="http://www.linkedin.com/in/jarsta" class="linkedin"><span class="icon-linkedin"></span><span class="label">Linkedin</span></a></li>
      <li><a href="https://twitter.com/ilu" class="twitter"><span class="icon-twitter"></span><span class="label">Twitter</span></a></li>
      <li><a href="http://kelvin.fi/" class="web"><span class="icon-link"></span><span class="label">Website</span></a></li>    
    </ul>
  </article>
  
  <article class="sixcol last">
    <h3>Jani Komulainen</h3>
    <p>Kelvin Creative Oy</p>
    <ul class="social">
      <li><a href="http://www.linkedin.com/in/jkomu" class="linkedin"><span class="icon-linkedin"></span><span class="label">Linkedin</span></a></li>
      <li><a href="https://twitter.com/janikomu" class="twitter"><span class="icon-twitter"></span><span class="label">Twitter</span></a></li>
      <li><a href="http://kelvin.fi/" class="web"><span class="icon-link"></span><span class="label">Website</span></a></li>    
    </ul>
  </article>
  
</div>
</section>

<div class="divider"></div>

<section id="contact" style="clear: left;">
<div class="row container">
  <header>
    <h1 class="title">Contact</h1>
  </header>
  
  <div class="sixcol first">
    <p>For enquiries, please contact Pirkka Esko, or fill in the contact form aside.</p>
    <p>
      <a href="mailto:mail@pirkkaesko.com" class="mailto"><span class="ul">mail@pirkkaesko.com</span></a><br />
      +358 50 3062243
    </p>
  </div>
  <div class="sixcol last">

    <form id="enquiry" action="http://kelvin.fi/client/deck/formhandler.php" method="post">
			<fieldset>
				<label for="fieldName">Name</label>
				<input type="text" name="Name" id="fieldName" class="required" /><br />
				<label for="fieldEmail">Email</label>
				<input type="email" name="Email" id="fieldEmail" class="required" /><br />
				<label for="fieldMessage">Message</label>
				<textarea name="Message" id="fieldMessage" rows="3" class="required"></textarea>
			</fieldset>
			<input type="submit" value="Submit" />
			
			<p class="error">Please fill in all of the fields.</p>
			<p class="success">Thanks! Your message was sent.</p>
		</form>

  </div>
  
</div>
</section>

<div class="divider"></div>

<section id="map">
  <header>
    <h1 class="title center prepend-top">Map</h1>
  </header>
  <div class="google-map" id="deck-map" style="width:100%;height:100%">
    &nbsp;
  </div>
  <div class="address">
    <p class="center append-bottom">Pursimiehenkatu 26 H<br />00150 Helsinki</p>
  </div>
</section>

<div id="footer">
<footer class="row container clearfix">
  2014 &copy; Deck
</footer>
</div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">
	google.maps.visualRefresh = true;
	var styleArray = [
	  {
	    featureType: "all",
	    stylers: [
	      { saturation: -100 }
	    ]
	  },
	  {
	    featureType: "poi",
	    elementType: "labels",
	    stylers: [
	          { visibility: "off" }
	      ]
		},
		{
			featureType: "transit",
			stylers: [
	          { visibility: "off" }
	      ]
		}
	
	];
	
	var deckMapType = new google.maps.StyledMapType(styleArray,{ name: "Deck" });

	var lat = 60.158381;
	var lng = 24.933919;

	var map = new google.maps.Map(document.getElementById('deck-map'), {
	  zoom: 14,
	  center: new google.maps.LatLng(lat,lng),
	  mapTypeId: google.maps.MapTypeId.ROADMAP,
	  backgroundColor: "#FFF",
	  minZoom: 12,
	  maxZoom: 18,
	  scrollwheel: false,
	  streetViewControl: false,
	  mapTypeControl: false,
	  zoomControlOptions: {
	    position: google.maps.ControlPosition.LEFT_BOTTOM
	  },
	  panControlOptions: {
	    position: google.maps.ControlPosition.LEFT_BOTTOM	  
	  }
	});

	map.panBy(0,-60);
	
	var	marker = new google.maps.Marker({
		map: map,
		position: new google.maps.LatLng(lat, lng),
		icon: "/images/arrow-point2.png"
	});

	map.mapTypes.set('deck', deckMapType);
	map.setMapTypeId('deck');
</script>
	
<script type="text/javascript">

  if (window.location.host == 'deck.fi') {

    console.log('starting analytics...');

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-41494714-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    
  }


</script>

	
</body>
</html>